@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}
body {
  display: block;
}
